/* container */
$widthContainer: 1210px;
$paddingContainer: 20px;

/* base typography */
$baseFont: 'Jost', sans-serif;
$baseWeight: 400;

/* colors */
$linkColor: #FFD200; /* base color for <a> */
$blackColor: #171717